@import 'src/assets/variables.module.scss';

.homepage-container {
  padding-top: 96vh;
}

.content-card {
  display: flex;
  background-color: map-get($theme-colours, "primaryColour");
  padding-left: 4vh;
  padding-right: 2vh;
  padding-bottom: 2vh;
  color: map-get($theme-colours, "textColour");
  margin: 2vh;
  border-bottom: 2px solid map-get($theme-colours, "accentColour");
  border-radius: 1%;
}