@import 'src/assets/variables.module.scss';

.icons-box {
    margin-left: auto;
    margin-right: 5vh;
    margin-top: auto;
    margin-bottom: auto;
}

a {
    margin-right: 2.5vh;
}

a:visited {
    color: map-get($theme-colours, "accentColour");
}

a:link {
    color: map-get($theme-colours, "accentColour");
}