@import 'src/assets/variables.module.scss';

.experience-title {
    color: map-get($theme-colours, "accentColour");
    align-items: center;
    display: flex;
}

.experience-timeline {
    position: relative;
    text-align: end;
    flex: 1;
}

.experience-list {
    margin-top: -1vh;
}