@import 'src/assets/variables.module.scss';

.profile-card {
    padding-top: 96vh;
    color: map-get($theme-colours, "textColour");
    margin-bottom: 3vh;
}

.profile-content {
    margin-top: 0;
}

.image-container {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 2.5vh;
    border-radius: 1%;
    border-bottom: 2px solid map-get($theme-colours, "accentColour");;
}